:root {
	--red: #3587f2;
	--black: #000;
	--white: #fff;
}
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
